In [7]:
import sqlite3
import pandas as pd

In [8]:
con = sqlite3.connect('data/steam_sales.db')

In [21]:
pd.read_sql("SELECT * " \
            "FROM (SELECT *, ROW_NUMBER() OVER(PARTITION BY itad_id ORDER BY ts_utc ASC) AS rnk FROM history_events) " \
            "WHERE rnk = 1 OR rnk = 2;", con)

,itad_id,ts_utc,price,regular,cut,rnk
0,018d937e-e9b5-71d6-a320-3543fb1ce11f,2024-02-11T10:30:56Z,0.00,0.00,0,1
1,018d937e-e9b7-73a9-84e1-1546a85c9841,2024-03-29T13:48:08Z,0.59,0.99,40,1
2,018d937e-e9b7-73a9-84e1-1546a85c9841,2024-04-12T17:18:40Z,0.99,0.99,0,2
3,018d937e-e9ba-71b7-b901-de864dd7397c,2023-10-28T04:37:42Z,10.39,12.99,20,1
4,018d937e-e9ba-71b7-b901-de864dd7397c,2023-11-03T17:19:01Z,12.99,12.99,0,2
...,...,...,...,...,...,...
75464,0198f191-e917-719b-8a07-2fea98b85bf2,2024-08-22T17:18:30Z,19.99,19.99,0,2
75465,01992fe7-8681-71b7-b82d-a5254c67ce6a,2023-09-27T08:48:18Z,0.00,0.00,0,1
75466,01993ad9-005a-72ab-be35-3335a3bb91f4,2024-06-18T18:18:15Z,0.00,0.00,0,1
75467,01993ed3-ac1b-733a-9c0b-195e7ce86a21,2023-11-21T17:33:21Z,12.99,12.99,0,1
75468,01993ed3-ac1b-733a-9c0b-195e7ce86a21,2023-12-21T23:10:34Z,7.79,12.99,40,2

In [16]:
pd.read_sql("SELECT * FROM games;", con)

,itad_id,appid,title,type,release_date,early_access,mature
0,018d937f-4ef3-7168-994d-7968084ab1a0,226280.0,Warp Frontier,game,2021-09-28,0,0
1,018d937f-05cc-70d8-a9fd-b60cf6f8048e,226620.0,Desktop Dungeons,game,2023-04-18,0,0
2,018d937e-f55f-735f-8a36-ef267cb911fe,251950.0,WWII Online,game,2023-07-06,0,0
3,018d937f-1b52-72fe-8828-fc57d66141ae,252870.0,PULSAR: Lost Colony,game,2021-06-22,0,0
4,018d937f-4eeb-7084-878f-15fb7e4c22e9,269850.0,Get Packed: Fully Loaded,game,2021-07-28,0,0
...,...,...,...,...,...,...,...
43135,01919e99-3f84-704f-9ba7-79afd7440a36,3186760.0,Baker's Agony,game,2024-09-13,0,0
43136,01919c3d-0228-71d6-9a80-b61de4a3ee1b,3187770.0,NAGAISAN,game,2024-09-11,0,0
43137,01919ce4-2521-719f-9fe8-966805c6ba80,3188750.0,Zoul Dungeon,game,2024-09-11,0,0
43138,01919561-88ca-73f4-8123-1b114c928691,3188840.0,Space Memory: Cats,game,2024-09-10,0,0
43139,0191aab8-da1b-7047-86be-bf0466fd99fc,3195690.0,Sexy Memory Puzzle - Gay Gym,game,2024-09-06,0,1